<%- include('../partials/header') %>

<h1>Flight List</h1>
<table>
    <thead>
        <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Departure Date</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
            <tr <%= (f.departs < f.curDate) ? "style=color:red" : "style=color:black" %> >
                <td><%= f.airline %></td>
                <td><%= f.airport %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.departs.toLocaleDateString() %>&nbsp;<%= f.departs.toLocaleTimeString() %>&nbsp;<%= Intl.DateTimeFormat().resolvedOptions().timeZone %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>